#ignore .idea
.idea/workspace.xml
.idea/tasks.xml
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
*.lib
*.sbr
obj/
Deploy/
_ReSharper*/
[Tt]est[Rr]esult*
.DS_Store
Package.txt
[Pp]ackages/
cmake-build-debug/
UML/*.bak
UML/AnalystComparer.vpp.bak_005d
UML/AnalystComparer.vpp.bak_006d
UML/AnalystComparer.vpp.bak_007d
UML/AnalystComparer.vpp.bak_008d
UML/AnalystComparer.vpp.bak_009f
UML/AnalystComparer.vpp.bak_010d
UML/AnalystComparer.vpp.bak_011d
UML/AnalystComparer.vpp.bak_012d
UML/AnalystComparer.vpp.bak_013d
